<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordsOfConcern.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <WordsOfConcern.MySettings>
            <setting name="TableData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>1,Adorable</string>
                        <string>2,African</string>
                        <string>3,Appeal</string>
                        <string>4,Asian</string>
                        <string>5,Asexual</string>
                        <string>6,Attractive</string>
                        <string>7,Baptist</string>
                        <string>8,Beautiful</string>
                        <string>9,Bisexual</string>
                        <string>10,Black</string>
                        <string>11,Black Neighborhood</string>
                        <string>12,Black only</string>
                        <string>13,Boomer</string>
                        <string>14,Buddhist</string>
                        <string>15,Catholic</string>
                        <string>16,Caucasian</string>
                        <string>17,Cheap</string>
                        <string>18,Chicano</string>
                        <string>19,Chinese</string>
                        <string>20,Church</string>
                        <string>21,Community</string>
                        <string>22,Cosmetic</string>
                        <string>23,Country Club</string>
                        <string>24,Cozy</string>
                        <string>25,Crime</string>
                        <string>26,Crime-ridden</string>
                        <string>27,Criminal</string>
                        <string>28,Demographic</string>
                        <string>29,Desirable</string>
                        <string>30,Disabliity</string>
                        <string>31,Disabled</string>
                        <string>32,Elder</string>
                        <string>33,Elderly</string>
                        <string>34,Empty Nesters</string>
                        <string>35,Established Community</string>
                        <string>36,Families</string>
                        <string>37,Family</string>
                        <string>38,Fast Growing</string>
                        <string>39,FHA</string>
                        <string>40,Filipino</string>
                        <string>41,Foreign</string>
                        <string>42,Gay</string>
                        <string>43,Gen 2</string>
                        <string>44,Gen X</string>
                        <string>45,Gen Y</string>
                        <string>46,Gender</string>
                        <string>47,Gentri?cation</string>
                        <string>48,Gentri?ed</string>
                        <string>49,Golden Agers</string>
                        <string>50,Good Neighborhood</string>
                        <string>51,Good School District</string>
                        <string>52,Good Subdivision</string>
                        <string>53,Gross</string>
                        <string>54,Handicap</string>
                        <string>55,Handicapped</string>
                        <string>56,High Crime</string>
                        <string>57,Hindi</string>
                        <string>58,Hindu</string>
                        <string>59,Hispanic</string>
                        <string>60,Homeless</string>
                        <string>61,Homogenous</string>
                        <string>62,Hot Market</string>
                        <string>63,Hungarian</string>
                        <string>64,Immigrant</string>
                        <string>65,Intersex</string>
                        <string>66,Integrity</string>
                        <string>67,Irish</string>
                        <string>68,Jewish</string>
                        <string>69,Kids</string>
                        <string>70,Latino</string>
                        <string>71,Latinx</string>
                        <string>72,lesbian</string>
                        <string>73,LGBT</string>
                        <string>74,LGBTQ</string>
                        <string>75,LGBTQ+</string>
                        <string>76,Low Crime</string>
                        <string>77,Marketability</string>
                        <string>78,Mentally Ill</string>
                        <string>79,Mexican</string>
                        <string>80,Millennial</string>
                        <string>81,Montessori</string>
                        <string>82,Mormon</string>
                        <string>83,Mosque</string>
                        <string>84,Muslim</string>
                        <string>85,Neighborhood</string>
                        <string>86,Nice Neighborhood</string>
                        <string>87,non-heterosexual</string>
                        <string>88,non-cisgender</string>
                        <string>89,non-normative</string>
                        <string>90,non-binary</string>
                        <string>91,non-conforming</string>
                        <string>92,Nursing home</string>
                        <string>93,Occupied</string>
                        <string>94,Oriental</string>
                        <string>95,Polish</string>
                        <string>96,Poor Neighborhood</string>
                        <string>97,Poor Subdivision</string>
                        <string>98,Potential</string>
                        <string>99,Preferred Community</string>
                        <string>100,Pregnant</string>
                        <string>101,Prestigious</string>
                        <string>102,Pride</string>
                        <string>103,Protestant</string>
                        <string>104,Public Housing</string>
                        <string>105,Puerto  Rican</string>
                        <string>106,Quality Neighborhood</string>
                        <string>107,Quiet Neighborhood</string>
                        <string>108,Quiet Tenants</string>
                        <string>109,Retiree</string>
                        <string>110,Retirees</string>
                        <string>111,Retirement</string>
                        <string>112,Pride</string>
                        <string>113,Queer</string>
                        <string>114,Risk</string>
                        <string>115,Rural</string>
                        <string>116,Sex</string>
                        <string>117,School</string>
                        <string>118,Section 8</string>
                        <string>119,Senior Citizen</string>
                        <string>120,Senior Citizens</string>
                        <string>121,Transgender</string>
                        <string>122,Shrine</string>
                        <string>123,Sexual minority</string>
                        <string>124,Sophisticated</string>
                        <string>125,Spanish</string>
                        <string>126,Stabilize</string>
                        <string>127,Standards</string>
                        <string>128,Synagogue</string>
                        <string>129,Temple</string>
                        <string>130,Tenant</string>
                        <string>131,Theft</string>
                        <string>132,Undesirable</string>
                        <string>133,Unemployed</string>
                        <string>134,Up and Coming</string>
                        <string>135,Vandal</string>
                        <string>136,Vandalism</string>
                        <string>137,Voucher</string>
                        <string>138,Warm</string>
                        <string>139,Wheelchair</string>
                        <string>140,White Neighborhood</string>
                        <string>141,White only</string>
                        <string>142,Worship</string>
                        <string>143,55</string>
                        <string>144,55+</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WordsOfConcern.MySettings>
    </userSettings>
</configuration>
